# requirements.txt

# pip install --no-cache-dir -r requirements.txt

openai           # for message suggestion generation with OpenAI
python-dotenv    # for accessing environmental variables
boto3            # for accessing AWS Secret Manager
pymongo          # for accessing MongoDB
requests         # for accessing AWS EC2 instance elastic ip
